
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
    background-color: rgb(175, 175, 243);
}

div {
    width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #f0c2e7;
    border: 1px solid #ccc;
    border-radius: 8px;
}

h1 {
    text-align: center;
    color: #333333;
}

p {
    text-align: center;
    color: #a37070;
    font-size: 14px;
}

label {
    font-weight: bold;
    color: #333333;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"] {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="radio"],
input[type="checkbox"] {
    margin-right: 5px;
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #814caf;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

