* {
    margin: 0;
    padding: 0;
}

.container {
    background-color: rgb(132, 231, 198);
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(4, 1fr);
    /* grid-auto-rows: minmax(150px,auto);
    column-gap: 10px;
    row-gap: 10px; */
    gap: 10px;

    grid-template-areas:
        "header header header header"
        "sidebar main main sidebar2"
        "sidebar main main sidebar2"
        "footer footer footer footer"
    ;

    font-size: 40px;
}

.item {
    background-color: pink;
    /* height: 300px; */
    /* width: 300px; */
}

.item1 {
    grid-area: header;
}

.item2 {
    grid-area: sidebar;
}

.item3 {
    grid-area: main;
}

.item4 {
    grid-area: sidebar2;
}

.item5 {
    grid-area: footer;
}