/* element selector */
button {
    background-color: yellow;
    color: rgb(12, 45, 56);
}

/* id selector */
#first {
    color: red;
    font-size: 35px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 10px 5px 3px 20px;
    padding: 5px 2px 4px 5px;
}

/* class selector */
.second{
    color: blue;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    opacity: 0.8;
}

/* universal selector */
*{
    background-color: pink;
    margin: 3px;
    padding: 4px;
}3
/* border */
h1 {
    color: green;
    border: 2px solid black;
}