*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url('./image.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.cat{
    /* padding-right: 300px;
    padding-bottom: 100px; */
    height: 80vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    background-position: center;
    background-blend-mode: color-dodge;
    color: beige;


    
}

h1{
    font-size: 50px;
}

h3{
    font-size: 20px;
}