.item{
    background-color: blueviolet;
    height: 150px;
    width: 150px;
    margin-bottom: 5px;
}

.container {
    background-color: rgb(222, 164, 164);
    display: flex;
    /* flex-direction: row; */
    /* flex-direction: column; */
    height: 100vh;
    /* justify-content: center; */
    gap: 6px;
    /* justify-content: flex-end; */
    /* justify-content: space-around; */
    /* align-items: center; */
    /* flex-wrap: wrap; */
}

.item1{
    background-color: brown;
    /* align-self: flex-end; */
    /* flex-grow: 1; */
    /* flex-shrink: 9; */
}

ul{
    list-style-type: none;
    background-color: rgb(196, 159, 231);
    display: flex;
    justify-content: flex-end;
    gap: 40px;
    height: 40px;
    align-items: center;
}